/* CSS Document */
body {
background-image: url(Grafiki/Tlo.JPG);
background-position: 0 0;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
height:100%;
font-family:Verdana;
}

#wrapper {
width:1024px;
padding-left:10px;
margin:0 auto;}


#logo {
clear: both;
height: 120px;
background: url(Grafiki/Top.png);
margin-bottom:20px;
}

#main {
float: left;
background-color: #C9C9C9;
font-family:Helvetica;
min-height:963px;
margin-top:20px;
font-size:20px;
padding:15px 0px 0px 15px;
width:750px;
}
	#main h3 {
		padding-left:30px;
		font-family:Helvetica;
		letter-spacing:0px;
		color: #BA7200;
		font-size:35px;
		margin-bottom:0px;
		margin-top:25px;
		}
		#main h4 {
			padding-left:30px;
			font-family: Helvetica;
			color: #FFFFFF;
			letter-spacing:0.5px;
			font-size:13px;
			margin-top:0px;
			}
			#main h5 {
				font-family: Helvetica;
				color: #BA7200;
				font-size:16px;
				margin-bottom:0px;
				margin-left:30px;
				}
				#main ul{
					margin-top:0px;
					}
					#main li {
						list-style:none;
						padding-left:5px;
						}  
					
						#main a {
							color: #FFFFFF;							
							font-size: 14px;
							text-decoration:none;
							
							}
							#main strong {
								color: #000000; 
								font-family: Helvetica;
								letter-spacing:0.5px;
								font-size: 15px;
								
								}
				
#data {
margin-left:20px;
padding: 0px 10px 0px 10px;
margin-bottom:10px;
font-size:18px;
width:250px;
clear:none;
background-color:#9FA2A8;
border-right:10px solid #858585;
}
	#data h1 {
		font-family:Helvetica;
		letter-spacing:0px;
		color: #BA7200;
		font-size:35px;
		margin-bottom:0px;
		}
			#data h2 {
			font-family: Helvetica;
			color: #FFFFFF;
			font-size:13px;
			margin-top:0px;
			}
				#data h3 {
				font-family: Helvetica;
				color: #FFFFFF;
				font-size:25px;
				margin-top:0px;
				}
	#trudn{
	float:left;
	margin-right:0px;
	color:#FFFFFF;
	}
		#trudn h1{
		font-size:18px;}
	#fun{
	margin-left:200px;
	color:#FFFFFF;
	}
		#fun h1{
		font-size:18px;}
	
#map{
	width:400px;
	height:400px;
	flow:right;
	}
#through{
float:right;
font-family:Helvetica;
padding-right:200px;
}
	#through a {
	float:right;
	font-family:Helvetica;
	padding-right:200px;
	text-decoration:none;
	}

#opis {
padding: 5px 10px 25px 10px;
font-size:15px}        
}
#menu {
height:200px; 
width:1100px;
        
}
    #menu ul {
    display: inline;
    }
          #menu ul li {	        
	        float:left;
	        list-style: none;
	        padding-left:20px;
	        width:300px;
	              }
	             #menu a { 
	              color: #292826;
	              font-weight:bold;
				  font-family:  Verdana,sans-serif;
	              text-decoration: none;
                  font-size:14px;
                  height:30px;
                  width:300px;
                                    
                  }
                     #menu a:hover {
	                   color: #FFFFFF;
	                   
                             }


	                   
#footer {
clear:both;
padding-top:10px;
padding-bottom:10px;
text-align:right;
color:#c9c9c9;
font-size:14px;
width:999px;
margin: 0 auto;
}
    #footer a { 
	              color: #FFFFFF;
	              font-family:  Verdana,sans-serif;
	              text-decoration: none;
                font-size:12px;   }

#right {
float:right;
width: 250px;
background-color:#C9C9C9;
min-height:900px;
margin-top:19px;
}

#right a {
text-decoration: none;}
  
  #right a:visited {
  color:#FFFFFF;
  }
      
      #right h1 {
      color:#BA7200;
      text-align:center;      
      font-size:18px;}
      
                   
      #right ul {
      color: #ffffff; 
      text-align:center;
      margin-left:-40px;
      }
      
        #right li {
        list-style:none;
        }      
      
          #right ul li{
          color: #ffffff;
          }
      
            #right li a {
            color: #ffffff;
            text-decoration:none;
            font-size: 13px;            
            }
      
              #right li a:hover{
              } 

