/* CSS Document */
body {
background-image: url(Grafiki/Tlo.JPG);
background-position: 0 0;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
height:100%;
font-family:Verdana;
}

#wrapper {
width:1024px;
padding-left:10px;
margin:0 auto;}


#logo {
clear: both;
height: 120px;
background: url(Grafiki/Top.png);
}

#main {
float: left;
min-height:900px;
background-color: #C9C9C9;
font-size:12px;
width:750px;
}
	
#data {
margin-left:20px;
margin-right:490px;
padding: 0px 10px 10px 10px;
background-color: #969696;
font-size:18px;
clear:none;
}
	#data h1 {
		font-family: Helvetica;
		color: #BA7200;
		font-size:35px;
		margin-bottom:0px;
		}
			#data h2 {
			font-family: Helvetica;
			color: #FFFFFF;
			font-size:12px;
			margin-top:0px;
			}
				#data h3 {
				font-family: Helvetica;
				color: #FFFFFF;
				font-size:25px;
				margin-top:0px;
				}

#map{
font-size:8px;
margin-left:300px;

}
#opis {
padding: 5px 10px 5px 10px;
font-size:15px}        
}
#menu {
height:200px; 
width:1100px; 
         
}
    #menu ul {
    display: inline;
    }
          #menu ul li {
	        
	        float:left;
	        list-style: none;
	        width:70px;
	        
	        
          	        }
	             #menu a { 
	              background:url(Grafiki/tab0.png);
	              color: #FFFFFF;
	              font-weight:bold;
				  font-family:  Verdana,sans-serif;
	              text-decoration: none;
                  font-size:14px;
                  height:30px;
                  padding-left: 10px;
                  padding-right:100px;
                   
                  }
                     #menu a:hover {
	                   background:url(Grafiki/tab1.png);
	                   color: #292826;
	                   width:80px;
	                   padding-right:100px;
	                 
                        
                             }


	                   
#footer {
clear:both;
padding-top:10px;
color:#c9c9c9;
font-size:14px;
width:999px;
margin: 0 auto;
}
    #footer a { 
	              color: #FFFFFF;
	              font-family:  Verdana,sans-serif;
	              text-decoration: none;
                font-size:12px;   }

#right {
float:right;
width: 250px;
background-color:#C9C9C9;
min-height:900px;
margin-top:19px;
}

#right a {
text-decoration: none;}
  
  #right a:visited {
  color:#FFFFFF;
  }
      
      #right h1 {
      color:#BA7200;
      text-align:center;      
      font-size:18px;}
      
                   
      #right ul {
      color: #ffffff; 
      text-align:center;
      margin-left:-40px;
      }
      
        #right li {
        list-style:none;
        }      
      
          #right ul li{
          color: #ffffff;
          }
      
            #right li a {
            color: #ffffff;
            text-decoration:none;
            font-size: 13px;            
            }
      
              #right li a:hover{
              } 

